.container th {
    border: 2px solid #2B3865;
}

.container .row {
    border-bottom: 2px solid #2B3865;
}

.container table{
    width: 100%;
}

.button-div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-button {
    border: none;
    background-color: #2B3865;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    padding: 8px 14px;
    text-decoration: none;
}

.add-button:hover{
    background-color: #5b80b2;
}
