.container th {
    border: 2px solid #2B3865;
}

.container .row {
    border-bottom: 2px solid #2B3865;
}

.container table{
    width: 100%;
}

.button-div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-button {
    border: none;
    background-color: #264b5d;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    padding: 8px 20px;
}
