{% extends "base.html" %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'css/addclientstyles.css' %}" type="text/css"> {% endblock %}
{% block header_title %}Add A New Client{% endblock %}


{% block content %}
    <div class="main">
        <small class="asterisk_note">Note: * indicates a required field.</small>
        <form action="" method="POST"> {% csrf_token %}
            <ul class="formfieldslist">
                <li>
                    <label for="firstname" class="form_label">First Name *</label>
                    <br>
                    <input class="form_field" id="firstname" name="first" required>
                </li>
                <li>
                    <label for="lastname" class="form_label">Last Name *</label>
                    <br>
                    <input class="form_field" id="lastname" name="last" required>
                </li>
                <li>
                    <label for="email" class="form_label">Email *</label>
                    <br>
                    <input class="form_field" id="email" name="email" required>
                </li>
                <li>
                    <label for="phone" class="form_label">Phone Number *</label>
                    <br>
                    <input class="form_field" id="phone" name="phone" required>
                </li>
                <li>
                    <label for="company" class="form_label">Company *</label>
                    <br>
                    <input class="form_field" id="company" name="company" required>
                </li>
                <li>
                    <label for="notes" class="form_label">Notes (Optional)</label>
                    <br>
                    <textarea class="notes_field" id="notes" placeholder="..." name="notes" ></textarea>
                </li>
            </ul>
            <button type="submit" class="submit_button">Add Client</button>
        </form>
    </div>
{% endblock %}