
{% load static %}
<!-- If using an extends statement, put load static AFTER the extends statement-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/basestyles.css' %}" type="text/css">
</head>
<body>

  <header>
    <h1>{% block header_title %}Base{% endblock %}</h1>
  </header>

  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
<div class="container">{% block content %} {% endblock %}</div>
</body>
</html>