{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/clientstyles.css' %}" type="text/css">{% endblock %}
{% block header_title %}Clients{% endblock %}

{% block content %}
    <div class="button-div">
        <button class="add-button"> Add a New Client...</button>
    </div>
    <table>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Company</th>
        <th>Info: </th>
        {% for client in client_list %}
            <tr class="row">
                <td>{{ client.id }}</td>
                <td>{{ client.first_name }}</td>
                <td>{{ client.last_name }}</td>
                <td><a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
                <td>{{ client.phone}}</td>
                <td>{{ client.company }}</td>
                <td>
                    <a href="{% url 'Info' client.id %}">View/Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
{% endblock %}