{% extends "base.html" %}
{% load static %}
{% block header_title %}Customer Information: {{ cust.first_name }} {{ cust.last_name }}{% endblock %}

<!-- {% block css %}<link rel="stylesheet" href="{% static 'css/customerstyles.css' %}" type="text/css">{% endblock %} -->
{% block content %}
    <h1>ADD ADMIN PRIVILEGES</h1>
    <p>
    <strong>Customer: </strong> {{ cust.first_name }} {{ cust.last_name }} from {{ cust.company }} <br>
    <strong>Contact Information: </strong> <a href="mailto:{{ cust.email }}">{{ cust.email }}</a> | {{ cust.phone }} <br>
    <strong>Notes: </strong> <br> &emsp; {{ cust.notes }}
    </p>

{% endblock %}
