{% extends "base.html" %}
{% load static %}
{% block header_title %}Home{% endblock %}

{% block content %}
    <h4>
        Welcome to the CRM Application. In this application, you can view information about any Customers correlated
        with your business. You will have the ability to contact the customer via email or use the provided phone
        number.
    </h4>
    <br>
    <p>
        Please contact an administrator to discuss adding, removing, or editing a Customer in the list.
        To ensure that the process is easy, please provide the administrator with the following information
        regarding the customer:
    </p>
    <p>First Name<br>Last Name<br>Email<br>Phone Number<br>Company Name</p>
{% endblock %}